@{
    ViewBag.Title = "Backup1";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backup1</title>
</head>
<body>


    <h2>@ViewBag.msg</h2>

</body>
</html>
