
@{
    Layout = null;
}

<!DOCTYPE html>
<script type="text/javascript">
     function cls()
     {
          window.open('', '_self', ''); window.close();

     }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Balance Save</title>
</head>
<body>
    <div style="vertical-align:central;width:700px">
        <h1>Record has been saved </h1><br />
        <br />
        <button onclick="cls()">Close</button>
    </div>
</body>
</html>
