
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> DAILY CLASS UPDATED</title>
</head>
<body>
    <table cellpadding="8" cellspacing="8"  border="0" width="1400">
        <tr>
         <td colspan="4" style="text-align:center;font-size:30px">
             <b> POORNA PRAJNA EDUCATION CENTRE</b>
         </td>    
        </tr>
        
        <tr>
            <td colspan="4" style="text-align:center;font-size:18px">
                <b>DAILY CLASS UPDATE</b>
            </td>

        </tr>
        
        <tr>
            <td colspan="4" style="text-align:center;">
                Class:<b>III</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIV:<b>C</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DAY:<b>Thurday</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE:<b>16-06-2022</b>
            </td>
        </tr>
      <tr>
          <td><table border="1" width="100%">
                  <tr>
                      <th> PERIOD</th>
                      <th> SUBJECT/ACTIVITY</th>
                      <th> CLASS WORK</th>
                      <th> HOME ASSIGNMENT</th>
                  </tr>
              <tr>
                  <td>1</td>
                  <td>Maths</td>
                  <td>Unit 3 Substraction - pg no. 70 & 71 Let's Warm and Let's Recall explained and solved in the text book </td>
                    <td>&nbsp;</td>
              </tr>
              </table>
          </td>
          



      </tr>



    </table> 
   
</body>
</html>


