
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plable</title>
</head>
<body>
    <table border="0" width="1000">
        <tr>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>

        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
        </tr>

        <tr>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
        </tr>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>

        <tr>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>

        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
        </tr>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West), Mumbai-400092
            </td>
        </tr>

        <tr>
        </tr>

        <tr>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>

            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
        </tr>


        <tr>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,
            </td>

        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
        </tr>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
        </tr>

        <tr>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;

            </td>

        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>
            </td>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>

            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,

            </td>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,

            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>

            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>

            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),Mumbai-400092
            </td>

            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),  Mumbai-400092
            </td>
        </tr>
        
        <tr>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            &nbsp;
        </tr>
        <tr>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>
            <td style="text-align;font-size:20px">
                <b>
                    STUDENT MANAGEMENT SYSTEM
                </b>

            </td>

        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>

            <td style="text-align;font-size:18px">
                Satams Corportion
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,

            </td>
            <td style="text-align;font-size:18px">
                A/101,105 Siddhgiri Business Center,

            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
            <td style="text-align;font-size:18px">
                Opp.Indraprastha Shopping Centre,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
            <td style="text-align;font-size:18px">
                Next to VIP Showroom,
            </td>
        </tr>
        <tr>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West),Mumbai-400092
            </td>
            <td style="text-align;font-size:18px">
                S.V.Road,Borivali(West), Mumbai-400092
            </td>
        </tr>
        
        <tr>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
            <td style="text-align;font-size:18px">
                solution@satams.com
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        




    </table>

</body>
</html>
