
@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Ledger </title>
    <script src="~/Content/js/jquery.dataTables.js"></script>
    <script src="~/Content/js/dataTables.bootstrap.js"></script>
    <link rel="stylesheet" href="~/Content/css/chosen.css">
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#pdates').change(function () {
                var SCat = $(this).val();
                $("#tdates").val(SCat);
            });




            $("#pdates").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy'
            });

            $("#tdates").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy'
            });


        });

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        function Save_confirm2() {
            if ($("#pdates").val() != "" && $("#tdates").val() != "") {
                return true;
            }
            else {

                alert("Please specify the date range")
                return false;
            }
        }


    </script>
    <div>
        <br />
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;Student Ledger </h4>
    </div>

    <div class="panel-body">

        @using (Html.BeginForm("StudentLedgerView", "Admin", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="panel">
                <div class="panel-body"> 
                    <div class="form-group">
                        <label class="control-label col-lg-4">Student Name</label>
                        <div class="col-lg-4">
                            @Html.DropDownList("feeid", new SelectList(ViewBag.use, "Feeid", "StudentName"), "", new { @class = "form-control input-sm chosen-select" })
                        </div>
                        <label class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            &nbsp;
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="tags" class="control-label col-lg-2">&nbsp;</label>
                        <div class="col-lg-4">
                            <input type="submit" onclick="return Save_confirm2()" value="View Report" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>


        }

    </div>



    <br />
    <br />

</body>
</html>
<script src="~/Content/js/chosen.jquery.js" type="text/javascript"></script>

<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "100%" }
    }
                          //for (var selector in config) {
                          //    $(selector).chosen(config[selector]);
                         // }
</script>




