@model SMS_Core.Models.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Student Management System";
}

<!DOCTYPE html>
<html dir="ltr" ; <head>
<meta charset="utf-8">
<title>SMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<style>
    body {
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    a.tile:nth-child(1) {
        background-color: #03a9f4;
    }

    /* Blue */
    a.tile:nth-child(2) {
        background-color: #ff9800;
    }

    /* Orange */
    a.tile:nth-child(3) {
        background-color: #009688;
    }

    /* Teal */
    a.tile:nth-child(4) {
        background-color: #8bc34a;
    }

    /* Light Green */
    a.tile:nth-child(5) {
        background-color: #795548;
    }

    /* Brown */
    a.tile:nth-child(6) {
        background-color: #9c27b0;
    }

    /* Purple */
    a.tile:nth-child(7) {
        background-color: #e91e63;
    }

    /* Pink */
    a.tile:nth-child(8) {
        background-color: #607d8b;
    }

    /* Blue Grey */
    a.tile:nth-child(9) {
        background-color: #f44336;
    }

    /* Red */
    a.tile:nth-child(10) {
        background-color: #3f51b5;
    }

    /* Indigo */
    a.tile:nth-child(11) {
        background-color: #4caf50;
    }

    /* Green */
    a.tile:nth-child(12) {
        background-color: #ff5722;
    }

    /* Deep Orange */
    a.tile:nth-child(13) {
        background-color: #00bcd4;
    }

    /* Cyan */
    a.tile:nth-child(14) {
        background-color: #8e24aa;
    }

    /* Dark Purple */
    a.tile:nth-child(15) {
        background-color: #cddc39;
    }

    /* Lime */
    a.tile:nth-child(16) {
        background-color: #ffc107;
    }

    /* Amber */
    a.tile:nth-child(17) {
        background-color: #57e3d7;
    }

    /* Grey */
    a.tile:nth-child(18) {
        background-color: #673ab7;
    }

    /* Deep Purple */
    a.tile:nth-child(19) {
        background-color: #00acc1;
    }

    /* Light Blue */
    a.tile:nth-child(20) {
        background-color: #b71c1c;
    }

    /* Dark Red */
    a.tile:nth-child(21) {
        background-color: #33691e;
    }

    /* Dark Green */
    a.tile:nth-child(22) {
        background-color: #fdd835;
    }

    /* Yellow */
    a.tile:nth-child(23) {
        background-color: #6d4c41;
    }

    /* Dark Brown */
    a.tile:nth-child(24) {
        background-color: #1e88e5;
    }

    /* Bright Blue */
    a.tile:nth-child(25) {
        background-color: #ad1457;
    }

    /* Raspberry */
    a.tile:nth-child(26) {
        background-color: #ff6f00;
    }

    /* Bright Orange */
    a.tile:nth-child(27) {
        background-color: #43a047;
    }

    /* Leaf Green */

    .app-bar {
        background-color: #9b26e4;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .app-bar>div {
        display: flex;
        align-items: center;
    }

    .app-bar>div>span {
        margin-right: 10px;

    }

    .app-bar>div>a {
        color: white;
        text-decoration: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* Ensure it takes full screen height */
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        /* Make it responsive */
        gap: 20px;
        margin-top: 1rem;
        /* Reduce unnecessary margin */
        width: 100vw;
        max-width: 1400px;
        /* Use full width of the container */
        /* Optional: Limit max width */
        overflow: hidden;
        box-sizing: border-box;
        /* Allow scrolling if needed */
    }


    .icons {
        gap: 30px;


    }

    .tile {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #4caf50;
        /* Default color */
        color: white;
        font-size: 16px;
        width: 100%;
        /* Ensure tiles take full width of grid cell */
        box-sizing: border-box;
        /* Include padding in width */
        font-weight: bold;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

    .tile:hover {
        background-color: #333;
        /* Darker background on hover */
        transform: scale(1.5);
        /* Slightly enlarge on hover */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        /* Increase shadow on hover */
    }



    .footer {
        width: 100%;
        background-color: #9c66f8;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        position: relative;
        bottom: 0;
    }

    .footer a {
        color: white;
        text-decoration: none;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a.tile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
    }
</style>
</head>

<body>
    <div class="container mb-5">
        <div>
            <h1>Main Menu</h1>
        </div>
        <div class="grid">
            <a href="/home/ViewInstituteData" class="tile institute">Institutes</a>
            <a href="/home/ViewAcademicYear" class="tile academic-year">Academic Year</a>
            <a href="/home/ViewStudData" class="tile students">Students</a>
            <a href="/home/ViewVisitorData" class="tile visitors">Visitors</a>
            <a href="/home/ViewLeaveData" class="tile leave">Leave</a>
            <a href="/home/ViewExamData" class="tile exam">Exam</a>
            <a href="/admin/ViewAssignments" class="tile assignments">Assignments</a>
            <a href="/admin/Notes" class="tile notes">Notes</a>
            <a href="/admin/ViewEmployeeData" class="tile employee">Employee</a>
            <a href="/home/ViewTimetable" class="tile timetable">TimeTable</a>
            <a href="/home/ViewLessonPlan" class="tile lesson-plan">Lesson Plan</a>
            <a href="/home/ViewCourses" class="tile courses">Courses</a>
            <a href="/home/ViewBatches" class="tile batches">Batches</a>
            <a href="/home/ClassTeacherAllocation" class="tile class-teacher-allocation">Class Teacher Allocation</a>
            <a href="/home/ViewSubjects" class="tile subject">Subject</a>
            <a href="/home/StudentAttendance" class="tile student-attendance">Student Attendance</a>
            <a href="/home/EmployeeAttendance" class="tile emp-attendance">Employee Attendance</a>
            <a href="/home/ViewFeeData" class="tile fee">Fee</a>
            <a href="/home/ViewVendors" class="tile vendor">Vendor</a>
            <a href="/home/ViewCirculars" class="tile circulars">Circulars</a>
            <a href="/home/ViewSalary" class="tile salary">Salary</a>
            <a href="/home/ViewLibrary" class="tile library">Library</a>
            <a href="/home/ViewCertificate" class="tile certificate">Certificate</a>
            <a href="/home/ViewTaskApp" class="tile task-app">TaskApp</a>
            <a href="/home/ViewCommunication" class="tile communication">Communication</a>
            <a href="/home/StudentEnquiry" class="tile student-enquiry">Student Enquiry</a>

        </div>
    </div>




</body>

</html>