
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DailyClassUpdate</title>
</head>
<body>
<table border="0" width="1300">
    <tr>
        <td style="text-align:center;font-size:36px">
            <b> POORNA PRAJANA EDUCATION CENTRE</b>
            
        </td>
    </tr>
</table>
</body>
</html>