@{
    // Layout = null;
   
}

<title> : Student Management System : </title>

<body> 
        <img src="~/Images/mobile1.jpg" width="530" height="650" style="margin-left:460px" >
     <br />
    <br />
</body>


