@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <link href="~/Content/metro-ui/css/metro-bootstrap.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/iconFont.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/docs.css" rel="stylesheet">
    <link href="~/Content/prettify/prettify.css" rel="stylesheet">


    <link href="~/Content/metro-ui/css/metro.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-icons.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-responsive.css" rel="stylesheet">
    <!-- Load JavaScript Libraries -->
    <script src="~/Scripts/metro-ui/jquery/jquery.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery/jquery.widget.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.mousewheel.js"></script>
    <script src="~/Scripts/metro-ui/prettify/prettify.js"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="~/Scripts/metro-ui/load-metro.js"></script>

    <!-- Local JavaScript -->
    <script src="~/Scripts/metro-ui/docs.js"></script>
    <script src="~/Scripts/metro-ui/github.info.js"></script>
    <script src="~/Scripts/metro-ui/start-screen.js"></script>

    <title>Metro UI CSS : Metro Bootstrap CSS Library</title>
</head>
<body class="metro">
    <header class="margin20 no-margin-left no-margin-right">
        <div class="clear-float">
            <a class="place-top-left" href="#" title="">
                <h2><b>Student Management Systems</b></h2>
            </a>
        </div>
    </header>
    <br /><br />
    <div class="main-content clear-float">
        <div class="tile-area no-padding">
            <div class="tile-group " style="width: 100%">
                <div class="tile-large ol-transparent" data-role="tile">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-height="100%" data-width="100%" data-controls="false">
                            <div class="slide">
                                <img src="../images/1.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/2.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/3.jpg" data-role="fitImage" data-format="fill">
                            </div>
                        </div>
                    </div>
                </div>

                <a href="~/Home/Library" class="tile bg-blue fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;Library<br />&nbsp;&nbsp;
                    <div class="tile-content iconic">
                        <span class="icon mif-windows"></span>
                    </div>
                </a>

                <a href="~/Admin/Students" class="tile bg-teal fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;&nbsp;Students

                    <div class="tile-content iconic">
                        <span class="icon mif-facebook"></span>
                    </div>
                </a>

                <a href="~/Admin/Exam" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Exam
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a> 

                <a href="~/Admin/Assignement" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Assignments
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Admin/Notes" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Notes
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>


                <a href="~/Admin/TimeTable" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    TimeTable
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Admin/LessonPlanning" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Lesson Planning
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Admin/Cources" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Cources
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Admin/Batches" class="tile bg-teal fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;&nbsp;Batches
                    <div class="tile-content iconic">
                        <span class="icon mif-facebook"></span>
                    </div>
                </a>


                <a href="~/Admin/TeacherAllocation" class="tile bg-green fg-white text-center" data-role="tile">
                    <br /><br />
                    Class Teacher Allocation
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>


            </div> <!-- End first group -->


        </div>
    </div> <!-- End of tiles -->

    <br /><br />

    <div class="main-content clear-float">
        <div class="tile-area no-padding">
            <div class="tile-group  no-padding" style="width: 100%">
                <div class="tile-large ol-transparent" data-role="tile">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-height="100%" data-width="100%" data-controls="false">
                            <div class="slide">
                                <img src="../images/1.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/2.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/3.jpg" data-role="fitImage" data-format="fill">
                            </div>
                        </div>
                    </div>
                </div>
             

                <a href="~/Admin/Subject" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Subject
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Admin/AttendanceNew" class="tile bg-blue fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;Student &nbsp;&nbsp;Attendance<br />&nbsp;&nbsp;

                    <div class="tile-content iconic">
                        <span class="icon mif-windows"></span>
                    </div>
                </a>


                <a href="~/Admin/Fee" class="tile bg-teal fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;&nbsp;Fee
                    <div class="tile-content iconic">
                        <span class="icon mif-facebook"></span>
                    </div>
                </a>
             
                <a href="~/Home/Circulars" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Circulars
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Home/LeavingCertificate" class="tile bg-blue fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;Certificate<br />&nbsp;&nbsp;
                    <div class="tile-content iconic">
                        <span class="icon mif-windows"></span>
                    </div>
                </a>
             
                <a href="~/Admin/Conversation" class="tile bg-blue fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;Communication<br />&nbsp;&nbsp;
                    <div class="tile-content iconic">
                        <span class="icon mif-windows"></span>
                    </div>
                </a>
            </div> <!-- End first group -->


        </div>
    </div>

    <br /><br />


    <script src="~/Scripts/metro-ui/hitua.js"></script>

</body>
</html>