@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">

    <link href="~/Content/metro-ui/css/metro-bootstrap.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/iconFont.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/docs.css" rel="stylesheet">
    <link href="~/Content/prettify/prettify.css" rel="stylesheet">


    <link href="~/Content/metro-ui/css/metro.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-icons.css" rel="stylesheet">
    <link href="~/Content/metro-ui/css/metro-responsive.css" rel="stylesheet">
    <!-- Load JavaScript Libraries -->
    <script src="~/Scripts/metro-ui/jquery/jquery.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery/jquery.widget.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.mousewheel.js"></script>
    <script src="~/Scripts/metro-ui/prettify/prettify.js"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="~/Scripts/metro-ui/load-metro.js"></script>

    <!-- Local JavaScript -->
    <script src="~/Scripts/metro-ui/docs.js"></script>
    <script src="~/Scripts/metro-ui/github.info.js"></script>
    <script src="~/Scripts/metro-ui/start-screen.js"></script>

    <title>Metro UI CSS : Metro Bootstrap CSS Library</title>
</head>
<body class="metro">
    <header class="margin20 no-margin-left no-margin-right">
        <div class="clear-float">
            <a class="place-top-left" href="#" title="">
                <h2><b>Student Management System</b></h2>
            </a>
        </div>
    </header>
    <br /><br />
    <div class="main-content clear-float">
        <div class="tile-area no-padding">
            <div class="tile-group " style="width: 100%">
                <div class="tile-large ol-transparent" data-role="tile">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-height="100%" data-width="100%" data-controls="false">
                            <div class="slide">
                                <img src="../images/1.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/2.jpg" data-role="fitImage" data-format="fill">
                            </div>
                            <div class="slide">
                                <img src="../images/3.jpg" data-role="fitImage" data-format="fill">
                            </div>
                        </div>
                    </div>
                </div>

                <a href="~/Lookup/DepartmentNew" class="tile bg-blue fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;Department<br />&nbsp;&nbsp;
                    <div class="tile-content iconic">
                        <span class="icon mif-windows"></span>
                    </div>
                </a>

                <a href="~/Lookup/DesignationNew" class="tile bg-teal fg-white" data-role="tile">
                    <br /><br />&nbsp;&nbsp;&nbsp;Designation

                    <div class="tile-content iconic">
                        <span class="icon mif-facebook"></span>
                    </div>
                </a>

                <a href="~/Lookup/CategoryNew" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Category
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Lookup/ReligionNew" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Religion
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>

                <a href="~/Lookup/CasteNew" class="tile bg-brown fg-white text-center" data-role="tile">
                    <br /><br />
                    Caste
                    <div class="tile-content iconic">
                        <span class="icon mif-twitter"></span>
                    </div>
                </a>
             


            </div> <!-- End first group -->


        </div>
    </div> <!-- End of tiles -->

    <br /><br />




    <script src="~/Scripts/metro-ui/hitua.js"></script>

</body>
</html>