@model SMS_Core.Models.tblStockItem
@{
    // Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="jQuery Splitter, Splitter Widget, Splitter, jqxSplitter" />
    <meta name="description" content="This page demonstrates splitter's events" />
    <title id='Description'>Add Stock Item</title>
    <link rel="stylesheet" href="~/Content/css/chosen.css">

    <script type="text/javascript">
        $(document).ready(function () {

            // $('#footer').hide();
            $('#sav').click(function (event) {
                if ($('#CategoryName').val() != "") {
                    if (!confirm('Are you sure that you want to Save')) {
                        event.preventDefault();
                    }
                    else {
                        $('#frm').submit();
                        return false;
                    }
                }
                else {
                    alert("CategoryName should not be blank")
                }
            });

            $('#frmsave').click(function (event) {
                if ($('#CategoryName').val() != "") {
                    if (!confirm('Are you sure that you want to Save'))
                        event.preventDefault();
                }
                else {
                    alert("CategoryName should not be blank")
                    return false;
                }
            });


        });

    </script>
</head>
<body>
    <div style="font-size:12px;height:40px;vertical-align:top;margin-left:10px">
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("New Vendor", "VendorNew", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("New Category", "InventoryCategoryNew", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("New Item", "StockItemNew", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("New Inventory", "InventoryItemNew", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("New PO", "CreatePurchaseOrderD", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("View Purchase Order", "ViewPurchaseOrder", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="~/_imgs/grid/Add_16_New.png" />&nbsp;@Html.ActionLink("View Purchase Receipt", "ViewPurchaseReceipt", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        ||&nbsp;&nbsp;@Html.ActionLink("Issue Inventory", "ViewInventoryIssue", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        ||&nbsp;&nbsp;@Html.ActionLink("Closing Stock", "ClosingStock", "Home")&nbsp;&nbsp;&nbsp;&nbsp;
        @* <img src="~/_imgs/grid/SaveAndClose_16.png" />&nbsp;&nbsp; @Ajax.ActionLink("SAVE & CLOSE", null, null, null, new { id = "sav" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@

    </div>


    <h3>&nbsp;&nbsp;Add Stock Item</h3>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-sm-6">

                @using (Html.BeginForm("StockItemNew", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm", @class = "form-horizontal" }))
                {
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-lg-4">Inventory Category</label>
                                <div class="col-lg-4">
                                    @Html.DropDownListFor(model => model.CategoryName, new SelectList(ViewBag.ic, "CategoryName", "CategoryName"), "", new { @class = "form-control input-sm" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-4">Item Name</label>
                                <div class="col-lg-4">
                                    @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control input-sm" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tags" class="control-label col-lg-4">&nbsp;</label>
                                <div class="col-lg-8">
                                    <input type="submit" id="frmsave" value="Save " class="btn btn-primary" />
                                    <button class="btn btn-primary"><i class="icon-refresh icon-white"></i> Refresh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-lg-6">
                <div class="table-responsive">
                    @* @Html.Action("StockItemView") *@
                </div>


            </div>
        </div>
    </div>

    <script src="~/Content/js/chosen.jquery.js" type="text/javascript"></script>

    <script type="text/javascript">
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "100%" }
            }
                                          //for (var selector in config) {
                                          //    $(selector).chosen(config[selector]);
                                         // }
    </script>
</body>
</html>