
@{
    ViewBag.Title = "Welcome to SMS";
    //Layout = null;
}

 
<!-- dashboard end-->

 
 

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-signal"></span>&nbsp;<span class="panel-title"><strong class="text-info">To Do List - Task</strong></span>&nbsp;&nbsp;@Html.ActionLink("Create Task", "CreateTask", "Home")&nbsp;| &nbsp;
    </div>
    <div class="panel-body">
        @* @Html.Action("ViewTaskNew", "Home") *@

    </div>
</div>














